<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
  <title>News Scraper</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Fredericka+the+Great|Quantico" rel="stylesheet">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/assets/js/app.js"></script>
</head>

<body>
  <div class="container">
    <section class="jumbotron">
      <br>
      <h1>Article Scraper</h1>
      <br>
      <h2>Make comments on articles you saved! </h2>
      <br>
      <a href="/">
        <button type="button" class="btn btn-warning">Home</button>
      </a>
      &nbsp;&nbsp;
      <a href="/scrape">
        <button type="button" class="btn btn-warning">
          Scrape New Article
        </button>
      </a>
      &nbsp;&nbsp;
      <a href="/saved">
        <button type="button" class="btn btn-warning">Saved Articles</button>
      </a>
      &nbsp;&nbsp;
      <a href="https://www.theverge.com/tech" target="_blank">
        <button type="button" class="btn btn-warning">Visit The Verge</button>
      </a>
      <br><br>
    </section>
  </div>

  {{{ body }}}

</body>

</html>