<!DOCTYPE html>
<html lang="en">

<head>
  <title>Article Scraper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>	
  <link href="https://fonts.googleapis.com/css?family=B612+Mono|Fredericka+the+Great|Quantico" rel="stylesheet">
  <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
  {{{ body }}}
  <footer class="app-footer">

      <div class="row justify-content-md-center">
        <a href="https://github.com/tteenz/fitToscrape" target="_blank"><img src="https://66.media.tumblr.com/1edcd07b0276cfe9ad491f01850b8b88/tumblr_po4xdiuFYu1y5a3hjo1_400.png"
            class="center" style="width:40" height="40"></a>
      </div>
      <br>
      <div class="footer-copyright text-center py-3">© 2019 Copyright</div>

    </footer>
</body>

</html>